extends ../layout.pug
block content
	h1 #{title}
	p Navigate to
	ul
		li: a(href="/cms/secure/admin") Admins
		li: a(href="/cms/secure/user") Users
		li: a(href="/cms/secure/guide") Guides
		li: a(href="/cms/secure/plan") Plans
		li: a(href="/cms/secure/reservation") Reservations
