extends ../layout.pug
block content
	h1 #{title}
	p Navigate to
		ul
			li: a(href="/cms/secure") Secure content
			li: a(href="/cms/welcome") Welcome page
			li: a(href="/cms/signup") Signup
			li: a(href="/cms/login") Login
			li: a(href="/cms/logout") Logout