extends ../../layout.pug

block content
	h1 Register user

	form(action='/cms/secure/user', method="POST")
		.form-group
			input(type="email", class="form-control", name="email", placeholder="email")
		.form-group
			input(type="submit", class="btn btn-primary", value="submit")
	each message in errors
		h4(style="color: red;") #{message}
